.middle {
  contain : content;
  width   : 100%;
  min-height: 500px;
  
  .middleTitle{
    text-align    : left;
    letter-spacing: 0px;
    color         : $font-secondary-color;
    opacity       : 1;
    padding-left: 70px;
    font        : normal normal normal 67px/91px Monster Clubhouse;
  }

  .contCarrusel {
    width         : 100%;
    height        : auto;
    display       : flex;
    flex-direction: row;
    padding-bottom: 5px;  
    justify-content: center;
    ///////////////////////
    overflow-x: scroll;
    
    &::-webkit-scrollbar {
      display: none;
    }
    text-align: center;
    //////////////////////
    #carruselini {
      min-width: 100%;
      min-height: 500px;
      display: flex;
      overflow-y: hidden;
      overflow-x:auto;
      justify-content: center;
      
      @media (max-width: 1000px) {
        justify-content: start;
      }
    }


  }

}